.card {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  height: 220px;
  margin-bottom: 20px;
}

.card-image {
  flex-basis: 40%;
  max-width: 300px;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.card-content {
  padding-left: 10px;
  flex-grow: 1;
  height: 100%;
}
